<% for race in @races %>
	<div class="dateBox">
		<div class="date">
	    <div class="bigDate"><%= race.date.strftime('%d') %></div>
	    <div class="bigDate"><%= race.date.strftime('%b') %></div>
		</div>
		<div class="countdown"> </div>
	</div>
	<h1 style="float:left; padding-top:20px; text-decoration: none;"><%= link_to race.name, result_path(race.id) %></h1>
  <h1 id='race_distance' style="float:left; padding-top:20px;padding-left:20px; color:black;"><%=h race.distance %></h1>
	<div style="clear:left"></div>
<% end %>
