body { background-color: #fff; color: #333; margin: 0; padding: 0; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 22px;
}
#menu {
  text-align: center;
  position: relative;
  min-height: 100%;
  _height: 100%;
  width: 100%;
  padding-bottom: -40px;
  font-size: 2.2em;
  padding: 0;
  background-color: #000;
}
#menu ul {
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
}
#menu ul li {
  display: inline;
  line-height: 2.0em;
  padding: 0 10px 0 0;
}
#menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
#menu ul li a:hover {
/*  color: #FFF000;#FFF6BF;#4B4B4B*/
  color: #000;
  background-color: #FFAA06;
}

#logo {
  position: absolute;
  margin: 0;
  top:25px;
  padding:0 0 0 25px;
  font-size:40px;
}

#logo a {
   text-decoration: none;   
}

#logo a:visited {
    color: #FFAA06;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

.internal {
	padding-left:20px;
	padding-top:50px;
	clear:both;
	background-color: #FFF;
	min-height: 600px;
}
.header {
    font-size: 50px;
    padding: 20px;
    float: left;
}
/*new footer test*/
/* footer */
/*#footer { background:#201e1c url(images/rodape.jpg) repeat-x top; height:200px; border-top:1px solid #b8b2ac; clear:both; }*/
/*#footer #footerBox { width:964px; text-align:right;  color:#fff; padding-top:60px; padding-right:10px; font-size:9px; font-family:Arial, Helvetica, sans-serif; margin:0 auto; }*/
/*#footer #footerBox a { text-decoration:none; }*/
/*#footer #footerBox a:hover { text-decoration:underline; }*/
/*#footer #footerBox #footerText { text-transform:uppercase; }*/
/*#footer #footerBox #footerText a { color:#FFFFFF; }*/
/*#footer #footerBox #footerText a:hover { color:#990100; text-decoration:underline; }*/

/*.footerWeb { color:#7b746b; border-right:2px dotted #7b746b; padding:0px 12px 2px; margin-top:15px; }*/
/*.footerAddress { color:#7b746b; width:100px; padding:0px; margin-top:15px;  }*/
/*.footerMiniText { padding-top:20px; }*/


/*Railscast about authologic*/
div#user_nav { float: right; font-size: 0.9em; }
/*correct footer*/
#footer {
    text-align: center;
    position: relative;
    min-height: 90px;
    _height: 80%;
    background-color: #000;    
    width: 100%;
    padding-top: 20px;
}

.footer, ul {
    font-size: 1.0em;
}

.footer, ul, li {
    display: inline;
/*    color: #FFAA06;*/
}

.data {
  font-size: 20px;
  padding: 5px;
  border: solid;
  border-color: blue;
}

.prova, td {
  color: gray;
  font-size: 20px;
  padding: 5px;
  clear: both;
}

.race_title {
  color:#EA5D0F;
  font-size: 20px;
  font-weight:normal;
  font-size:200%;
  float:left;
  padding-top:20px;
  margin:2px 0 15px;
}

.black {
    color:black;
    padding-left: 20px;
}

a { color: #000; }
a:visited { color: #555; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*new class for date*/

.dateBox {
    float:left;
    font-size:11px;
    font-weight:bold;
    margin:0 12px 15px 0;
    text-align:center;
    width:77px;
}
.dateBox .date {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/datebox-black-bg.png) no-repeat scroll left top;
    color:white;
    margin:0;
    padding:10px 0;
}
.dateBox .date .bigDate {
/*    color:#FFDD41;*/
/*    color:#FFAA06;*/
    color:#FFF;
    display:block;
    font-size:22px;
    margin:0;
    padding:0;
}
.dateBox .countdown {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/datebox-orange-bg.png) no-repeat scroll left bottom;
    color:white;
    padding:4px 0 8px;
}

form {
    margin:0;
    padding:0;
}

h1 {
    color:#EA5D0F;
    font-size:200%;
    font-weight:normal;
    margin:2px 0 18px;
    padding:0;
}

h2 {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/separator-middlebar.png) repeat-x scroll left bottom;
    clear:both;
    color:#999999;
    font-family:"Arial Narrow","News Gothic",Helvetica,sans-serif;
    font-size:130%;
    font-weight:normal;
    margin:40px 0 0;
    padding:0 0 17px;
}

h2 a {
    color:#999999;
    text-decoration:none;
}

h2 a:hover {
    text-decoration:underline;
}

h2.panel {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/separator-middlebar.png) repeat-x scroll left bottom;
    color:#FFA200;
    font-size:90%;
    font-weight:normal;
    letter-spacing:0.1em;
    margin:40px 0 0;
    padding:0 0 20px 10px;
}

h2 a {
    text-decoration:none;
}

h3 {
    font-size:110%;
    font-weight:bold;
    margin:20px 0 0;
    padding:0;
}

h4 {
    font-size:100%;
    font-weight:bold;
}

a {
    color:#FF6600;
}
/*a img {
border:medium none;
}*/

