<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Running.Business.Properties.Settings.AntigaConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;C:\ARQUIVOS DE PROGRAMAS\MICROSOFT SQL SERVER\MSSQL.1\MSSQL\DATA\CORRIDAS.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RunConnectionString" connectionString="Data Source=sqlserver01.mauriciodeamorim.com.br;Initial Catalog=amorim4;Persist Security Info=True;User ID=amorim4;Password=prodis6721"
            providerName="System.Data.SqlClient" />
        <add name="Running.Business.Properties.Settings.amorim4ConnectionString"
            connectionString="Data Source=200.234.197.46;Initial Catalog=amorim4;Persist Security Info=True;User ID=amorim4;Password=prodis6721;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!--C__ARQUIVOS_DE_PROGRAMAS_MICROSOFT_SQL_SERVER_MSSQL_1_MSSQL_DATA_CORRIDAS_MDFConnectionString-->